<section class="py-5">
  <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-center mt-5">Product Details</h1>

    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 px-5">

      <div class="w-[75%] mx-auto">
        <div class="product__image">
          <img [src]="product?.image" [alt]="product.title" class=" md:w-[75%] lg:w-[50%] mx-auto">
        </div>
      </div>

      <div class=" flex flex-col justify-center items-start mt-4 md:mt-0">
        <div class="product__details">
          <h2 class="text-2xl font-semibold">Title: <span class="text-lg">{{ product.title }}</span></h2>
          <p class="text-2xl font-semibold">Description: <span class="text-lg">{{ product.description }} .</span></p>
          <p class="text-2xl font-semibold">Price: <span class="text-lg">{{ product.price | currency : 'GBP'}}</span></p>
          <p class="text-2xl font-semibold">Category: <span class="text-lg">{{ product.category }}</span></p>
          <p class="text-2xl font-semibold">Rating: <span class="text-lg">{{ product.rating.rate }}</span> <i class="ms-2 pi pi-star-fill text-yellow-500"></i></p>
          <button  class="bg-black cursor-pointer text-white px-4 py-2 rounded mt-4 hover:bg-transparent border border-black hover:text-black transition duration-300 w-full" >Add to Cart</button>
        </div>
      </div>


    </div>

  </div>
</section>
