<div class="card p-2 bg-[#E7EDF4] dark:bg-gray-800 rounded-md shadow-md h-full">

  <div class="card__image relative">
    <img class="w-full h-[300px] object-contain" [src]="product().image" [alt]="product().title" />

    <div
      class="inset-0 absolute bg-[rgba(0,0,0,0.5)] opacity-0 hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
      <i [routerLink]="['/productDetails', product().id]" class="pi pi-eye text-white cursor-pointer"
        style="font-size: 50px;"></i>
    </div>
  </div>

  <div class="card__content p-2 text-center">
    <h3 class="text-black dark:text-white">
      {{ product().title | term : 4 }} ..
    </h3>
  </div>

</div>