<!-- nav bar -->
<nav class="bg-white shadow dark:bg-gray-800 py-2">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div class="text-lg font-bold">
      <a routerLink="/" class="text-gray-800 dark:text-white">Shop All</a>
    </div>

    <div class="hidden space-x-4 md:flex">
      <a routerLink="/home" routerLinkActive="font-bold bg-black text-white"
         class="text-black dark:text-white transition-all duration-300 px-2 py-1 rounded">
        Home
      </a>
    </div>

    <div>
      <ul class="flex items-center space-x-4">
        <li class="dark-mode bg-[#E7EDF4] dark:bg-gray-700 size-8 rounded-md flex items-center justify-center">
          @if (isLightMode) {
            <i  (click)="changeMode()" class="pi pi-sun cursor-pointer text-yellow-500" style="font-size: 20px;"></i>
          } @else {
            <i (click)="changeMode()" class="pi pi-moon cursor-pointer text-white" style="font-size: 20px;"></i>
          }
        </li>

        <li class="cart__icon bg-[#E7EDF4] dark:bg-gray-700 size-8 rounded-md flex items-center justify-center">
          <i class="pi pi-shopping-cart dark:text-white" style="font-size: 20px;"></i>
        </li>

        <li class="show__side__bar bg-[#E7EDF4] dark:bg-gray-700 size-8 rounded-md flex items-center justify-center md:hidden">
          <button class="cursor-pointer" (click)="visible2 = true">
            <i class="pi pi-bars dark:text-white" style="font-size: 20px;"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- side bar -->
<p-drawer header="Shop All" [(visible)]="visible2" position="right"
          class="dark:bg-gray-900 dark:text-white">
  <ul class="mt-5">
    <li class="text-black dark:text-white p-2 rounded transition-all duration-300"
        routerLinkActive="font-bold bg-black text-white">
      <a routerLink="/home">Home</a>
    </li>
  </ul>
</p-drawer>
